[Desktop Entry]
Version=1.0
Type=Application
Name=Install Lotus Demo
Exec=env WINEPREFIX=/home/wineuser/.wine32 wine /home/wineuser/lotus/install.exe
Icon=system-software-install
Terminal=false
Categories=System;